@font-face {
    font-family: 'Pokemon Solid Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Pokemon Solid Normal'), url('../fonts/Pokemon_Solid.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

section {
    color: rgb(35, 149, 111);
    width: 100vw;
    height: 100vh;
    background: url(../images/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg) fixed;
    background-size: cover; 
}

header {
    text-align: center; 
    padding: 50px;  

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#pokem {
    width: 10vw;
}

#poke {
    max-width: 70%;
}

h1 {
    font-family: 'Pokemon Solid Normal';
    padding: 10px 50px;
    width: 60%;
}

.boutton > button {
   padding: 15px 15px;
}

main {
    display: flex;
    flex-direction: column;
}

form {
    width: 50%;
    margin: auto;
}

#accueil {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 20vh;
    background-color: azure;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid azure;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(4, 84, 153);
    font-size: 1.5rem;
    margin-top: 20px;
}

#image {
    max-width: 50%;
}

select {
    width: 40%;
    margin: 20px;
    border-radius: 5px;
    
}

select:hover {
    background-color: azure;
}

p {
    background-color: rgba(13, 165, 114, 0.682);
    color: rgb(3, 3, 123);
    padding: 5px 10px;
    margin: 2px;
    border-radius: 6px;
}

input[type=submit] {
    padding: 5px 10px;
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: rgb(110, 228, 228);
}

button {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(201, 210, 210);
}

button:hover {
    background-color: rgb(110, 228, 228);
}

a {
    text-decoration: none;
}